<template>
    <div class="container">
        <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="newQuote"></app-new-quote>
        <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote"></app-quote-grid>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info">Click on a Quote to delete!</div>
            </div>
        </div>
    </div>
</template>

<script>
    import QuoteGrid from './components/QuoteGrid.vue';
    import NewQuotes from './components/NewQuotes.vue';
    import Header from './components/Header.vue';



    export default {
        components: {
            appQuoteGrid: QuoteGrid,
            appNewQuote: NewQuotes,
            appHeader: Header
        },
        data() {
            return {
                maxQuotes: 10,
                quotes: ['Just a quote to see something']
            }
        },
        methods: {
            newQuote(quote) {
                if(this.quotes.length >= this.maxQuotes) {
                    return alert('Please delete Quotes first to continue add quote!!')
                }
                this.quotes.push(quote);
            },
            deleteQuote(index) {
                this.quotes.splice(index, 1);
            }
        },
    }
</script>

<style>
</style>
